apiVersion: v1
kind: Service
metadata:
  name: deconz
  namespace: deconz
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
  selector:
    app: deconz
