apiVersion: apps/v1
kind: Deployment
metadata:
  name: zwavejs
  namespace: zwavejs
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zwavejs
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: zwavejs
    spec:
      nodeSelector:
        kubernetes.io/hostname: harmen-rpi-ssd
      containers:
        - name: zwavejs
          image: ghcr.io/zwave-js/zwave-js-ui:latest
          imagePullPolicy: IfNotPresent
          livenessProbe:
            failureThreshold: 10
            httpGet:
              httpHeaders:
              - name: Accept
                value: text/plain
              path: /health
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          ports:
            - containerPort: 8091
              name: http
              protocol: TCP
            - containerPort: 3000
              name: websocket
              protocol: TCP
          resources:
            limits:
              cpu: "1"
              memory: 512Mi
            requests:
              cpu: "1"
              memory: 400Mi
          env:
            - name: TZ
              value: Europe/Amsterdam
            - name: ZWAVEJS_EXTERNAL_CONFIG
              value: "true"
            - name: ZWAVEJS_STORE_DIR
              value: /usr/src/app/store
            - name: MQTT_HOST
              value: mqtt://mosquitto.home.lan
            - name: MQTT_PORT
              value: "1883"
            - name: TRUST_PROXY
              value: "10.42.0.0/16" # traefik internal cluster CIDR
          securityContext:
            privileged: true
          volumeMounts:
            - name: zwave-data
              mountPath: /usr/src/app/store
            - name: zwave-usb
              mountPath: /dev/zwave
      volumes:
        - name: zwave-data
          persistentVolumeClaim:
            claimName: zwavejs-data
        - name: zwave-usb
          hostPath:
            path: "/dev/serial/by-id/usb-0658_0200-if00"
            type: CharDevice