apiVersion: v1
kind: Service
metadata:
  name: zwavejs
  namespace: zwavejs
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: http
    - name: websocket
      port: 3000
      targetPort: websocket
  selector:
    app: zwavejs
