apiVersion: v1
kind: Service
metadata:
  name: zwavejs
  namespace: zwavejs
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8091
      targetPort: http
      protocol: TCP
    - name: ws
      port: 3000
      targetPort: ws
      protocol: TCP
  selector:
    app: zwavejs
