blueprint:
  name: ZWaveJS - Fibaro Dimmer 2 - S1 & S2 scenes
  description: Perform actions when a Fibaro Dimmer 2 button is pressed
  domain: automation

  input:
    zwavejs_device:
      name: Z-Wave JS - Fibaro Dimmer 2
      selector:
        device:
          integration: zwave_js
          model: FGD212

    s1_single_click:
      name: S1 Single Click
      selector: { action: {} }
      default: []

    s1_double_click:
      name: S1 Double Click
      selector: { action: {} }
      default: []

    s1_hold:
      name: S1 Hold
      selector: { action: {} }
      default: []

    s1_release:
      name: S1 Hold
      selector: { action: {} }
      default: []

    s2_single_click:
      name: S2 Single Click
      selector: { action: {} }
      default: []

    s2_double_click:
      name: S2 Double Click
      selector: { action: {} }
      default: []
    
    s2_triple_click:
      name: S2 Triple Click
      selector: { action: {} }
      default: []

    s2_hold:
      name: S2 Hold
      selector: { action: {} }
      default: []

    s2_release:
      name: S2 Release
      selector: { action: {} }
      default: []

mode: single

trigger:
  - platform: event
    event_type: zwave_js_value_notification

variables:
  dev: !input zwavejs_device

action:
  - choose:
      - conditions:
          - "{{ trigger.event.data.device_id == dev }}"
          - "{{ trigger.event.data.command_class_name == 'Scene Activation' }}"
        sequence:
          - choose:
              - conditions: "{{ trigger.event.data.value == 16 }}"
                sequence: !input s1_single_click
              - conditions: "{{ trigger.event.data.value == 14 }}"
                sequence: !input s1_double_click
              - conditions: "{{ trigger.event.data.value == 12 }}"
                sequence: !input s1_hold
              - conditions: "{{ trigger.event.data.value == 13 }}"
                sequence: !input s1_release
              - conditions: "{{ trigger.event.data.value == 26 }}"
                sequence: !input s2_single_click
              - conditions: "{{ trigger.event.data.value == 24 }}"
                sequence: !input s2_double_click
              - conditions: "{{ trigger.event.data.value == 25 }}"
                sequence: !input s2_triple_click
              - conditions: "{{ trigger.event.data.value == 22 }}"
                sequence: !input s2_hold
              - conditions: "{{ trigger.event.data.value == 23 }}"
                sequence: !input s2_release