blueprint:
  name: ZWaveJS - Fibaro Dimmer 2 - S1 & S2 scenes
  description: Perform actions when a Fibaro Dimmer 2 button is pressed
  domain: automation

  input:
    zwavejs_device:
      name: Z-Wave JS device
      selector:
        device:
          integration: zwave_js
          model: FGD212

    s1_once:
      name: S1 once
      selector: { action: {} }
      default: []

    s1_twice:
      name: S1 twice
      selector: { action: {} }
      default: []

    s1_hold:
      name: S1 hold
      selector: { action: {} }
      default: []

    s2_once:
      name: S2 once
      selector: { action: {} }
      default: []

    s2_twice:
      name: S2 twice
      selector: { action: {} }
      default: []

    s2_hold:
      name: S2 hold
      selector: { action: {} }
      default: []

mode: single

trigger:
  - platform: event
    event_type: zwave_js_value_notification

variables:
  dev: !input zwavejs_device

action:
  - choose:
      - conditions:
          - "{{ trigger.event.data.device_id == dev }}"
          - "{{ trigger.event.data.command_class_name == 'Scene Activation' }}"
        sequence:
          - choose:
              - conditions: "{{ trigger.event.data.value == 16 }}"
                sequence: !input s1_once
              - conditions: "{{ trigger.event.data.value == 14 }}"
                sequence: !input s1_twice
              - conditions: "{{ trigger.event.data.value == 12 }}"
                sequence: !input s1_hold
              - conditions: "{{ trigger.event.data.value == 26 }}"
                sequence: !input s2_once
              - conditions: "{{ trigger.event.data.value == 24 }}"
                sequence: !input s2_twice
              - conditions: "{{ trigger.event.data.value == 22 }}"
                sequence: !input s2_hold