  discovery: true
  discovery_prefix: homeassistant
  broker: mosquitto.home.lan
  birth_message:
    topic: 'homeassistant/status'
    payload: 'online'
  will_message:
    topic: 'homeassistant/status'
    payload: 'offline'