apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: grafana
spec:
  interval: 10m
  chart:
    spec:
      chart: grafana
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: grafana
      version: "*"
  values:
    service:
      type: ClusterIP
      port: 80
    ingress:
      enabled: true
      ingressClassName: traefik
      hosts:
        - host: grafana.home.lan
          paths:
            - path: /
              pathType: Prefix
      tls: []
    persistence:
      enabled: true
      size: 5Gi
      storageClassName: local-path
    adminUser: admin
    adminPassword: admin
