apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: mosquitto
configMapGenerator:
  - name: mosquitto-config
    files:
      - config/mosquitto.conf
generatorOptions:
  disableNameSuffixHash: true
resources:
  - namespace.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
